<div class="container">
  <div class="row center-align add-user">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">ADD USER</h3>
        <div class="row">
          <%= form_for(@user, html: {class: "col s12"}) do |f| %>
          <div class="row">
            <div class="input-field col s6">
                <%= f.text_field :firstname, placeholder: "Enter first name", autofocus: true %>
                <%= f.label  :firstname%>
            </div>
            <div class="input-field col s6">
                <%= f.text_field :lastname, placeholder: "Enter last name" %>
                <%= f.label  :lastname%>
            </div>
          </div>
          <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :email, placeholder: "Enter email address" %>
            <%= f.label  :email%>
          </div>
         </div>
         <div class="row">
         <div class="input-field col s12">
            <%= f.submit "Add User", class: "btn orange waves-effect waves-light right" %>
          </div>
        </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
